<div id="{{id}}" class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{image|default('#')}}" alt="{{image_alt|default('#')}}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{heading|default('Media heading')}}</h4>
    <p>{{text|default('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')}}</p>
  </div>
</div>