<div id="{{id}}" class="progress">
  <div class="progress-bar {{style_class|default('')}}" role="progressbar" aria-valuenow="{{percentage|default('50')}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage|default('50')}}%;">
    {{percentage|default('50')}}%
  </div>
</div>