<button id="{{id}}" type="{{type|default('button')}}" class="btn {{size_class|default('')}} {{style_class|default('btn-default')}} {{class|default('')}}" aria-label="{{label|default('')}}">
  <span class="glyphicon {{glyphicon_class|default('')}}" aria-hidden="true"></span> {{text|default('button')}}
</button>